<ion-header>
  <ion-toolbar>
    <ion-title>About MySpotify</ion-title>
  </ion-toolbar>
</ion-header>

<div class="mainContainer">
  <h1>With Spotify, you can play millions of songs and podcasts for free.
    Listen to the songs and podcasts you love and enjoy music from all over the world.</h1>

  <ul>
    <li style="font-size: 28px">
      Discover new music, albums, and podcasts
    </li>
    <li style="font-size: 28px">
      Search for your favorite song, artist, or podcast
    </li>
    <li style="font-size: 28px">
      Enjoy playlists made just for you
    </li>
    <li style="font-size: 28px"> 
      Make and share your own playlists
    </li>
  </ul>

  <h1>
    Play music for free on your mobile and tablet with Spotify. Listen to music, albums, playlists, and podcasts wherever you are. 
  </h1>

  <h1> 
    With Spotify, you have access to a world of free music, curated playlists, artists, and podcasts you love. Discover new music, podcasts and listen to your favorite artists, albums, or create a playlist with the latest songs to suit your mood. 
  </h1>
      
  <h1>
    Spotify also offers free music, curated playlists and thousands of podcasts you can’t find anywhere else. Find music from your favorite artists, and listen to new music for free.
  </h1>

</div>