<div class="mainContainer">
  <h1>You can also search by your favourite artist .. !</h1>
  <br>
  <table>
    <tr>
      <td>
        <ion-input [(ngModel)]="name" style="font-size: 32px; color: white;" placeholder="Artist name"></ion-input>
      </td>
      <td>
        <ion-button size="large" shape="round" fill="outline" (click)="getTracks(name)">
          Search
        </ion-button>
      </td>
    </tr>
  </table>

  <div class="itemsContainer">
    <ion-item *ngFor="let track of tracksList">
      <img style="width: 15%; height: 60%; margin-right: 2%; margin-bottom: 0%;" src="{{ track.album.images[0].url }}">
      <ion-label>
        <h3> {{ track.name }} </h3>
        <a style="color: white;" href="{{ track?.preview_url }}">{{ track?.preview_url }}</a>
      </ion-label>
    </ion-item>
  </div>

</div>>